{% extends "main_template.html" %}


{% block content %}
        <div class="container" style="margin-top: 100px;">
            <p style="float: right;"><img src="/static/main_picture.jpeg" alt="Image not found :[" style="height: 500px; width: auto;"></p>
            <h4 style=>
                Hi! I am a software engineer at <a href="https://masslight.com" target="_blank">MassLight</a> working on a (really good) headless EHR called <a href="https://zapehr.com" target="_blank">zapEHR</a>.
                        <br>
                        <br>
                        In May, I graduated from <a href="https://www.rutgers.edu/" target=”_blank”>Rutgers University</a> with a dual degree in Computer Science and Mathematics.
                        <br>
                        <br>
                        Last year, I worked on an ecommerce platform for cannabis dispensaries at a startup called Greentree.
                        <br>
                        <br>
                        Before that, I spent a year researching neural network memory compression and training acceleration under <a href="https://sites.google.com/site/samanzonouz4n6/saman-zonouz?authuser=0" target=”_blank”>Dr. Saman Zonouz</a>.
                        <br>
                        <br>
                        I like to powerlift, read(slowly), cook, play board games, and spend time on other enjoyable activities with fat tailed payoffs.
                    </h4>
                </div>

            </div>

        </div>
{% endblock content %}