{% extends "main_template.html" %}


{% block content %}
        <div class="container" style="margin-top: 100px;">
            <p style="float: right;"><img src="/static/main_picture.png" alt="Image not found :[" style="height: 500px; width: auto;"></p>
            <h4 style=>
                Hi! I am graduating from <a href="https://www.rutgers.edu/" target=”_blank”>Rutgers University</a> in May with a dual degree in Computer Science and Mathematics.
                <br>
                <br>
                I have done research in Neural Network Memory Compression and Training Acceleration at 4n6 Research Group under Saman Zonouz.
                <br>
                <br>
                This is a test
            </h4>
        </div>
{% endblock content %}