{% extends "main_template.html" %}


{% block content %}
        <div class="container" style="margin-top: 100px;">
            <p style="float: right;"><img src="/static/main_picture.png" alt="Image not found :[" style="height: 500px; width: auto;"></p>
            <h4 style=>
                Hi! I am graduating from <a href="https://www.rutgers.edu/" target=”_blank”>Rutgers University</a> in May with a dual degree in Computer Science and Mathematics.
                <br>
                <br>
                Last year, I worked as a Full Stack Software Engineer at a startup called <a href="https://www.3dinsight.com/" target=”_blank”>3D Insight</a> where I worked on a variety of projects including a web application for 3D printing, a 3D printing API, and a 3D printing marketplace.
                <br>
                <br>
                Before that, I spent a year researching neural network memory compression and training acceleration under Dr. Saman Zonouz.
                <br>
                <br>
                This is a test
            </h4>
        </div>
{% endblock content %}